img.responsive {
    max-width: 100%;
    height: auto;
}

// http://getbootstrap.com.vn/examples/equal-height-columns/
/*
.row-equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
*/

@dark: #343434;

@separation: 24px;
@padding: 36px;
@orange: #fa6900;
@white: #fff;


body {
    background-image: url(/theme/images/texture.png);
    h1, h2, nav > ul > li {
        font-family: 'Economica', sans-serif !important;
        font-weight: bold;
    }

    blockquote {
	    border: 0;
	    margin: 0.5em 10px;
	    padding: 0.5em 10px;
	    quotes: "«" "»";
	    font-family: 'Economica', sans-serif !important;
	    font-weight: bold;
	    font-size: 140%;
    }
    blockquote:before, blockquote:after {
	    color: @orange;
	    //content: open-quote;
	    font-size: 3em;
	    line-height: 0.1em;
	    vertical-align: -0.2em;
	    //font-family: 'Economica', sans-serif !important;
	    //font-weight: bold;
	    //font-size: 150%;
    }
    blockquote:before {
	    content: open-quote;
    }
    blockquote:after {
	    content: close-quote;
    }

    blockquote p {
	    display: inline;
    }

    div.container {
        div.row {
            padding-top: 32px;

            aside {
                header {
                    a {
                        text-decoration: none;
                    }

                    background: @dark;
                    padding: 32px;
                    text-align: center;
                    img.logo {
                    }

                    .run {
                        color: @orange;
                    }

                    h1 {
                        color: white;
                    }
                    h2 {
                        color: white;
                        font-size: 150%;
                    }

                }

                @media (max-width: 970px) {
                    header {
                        padding: 4px;
                        position: relative;
                        text-align: right;

                        h1, h2 { 
                            margin: 0;
                            display: block;
                            clear: right;
                        }
                        img { 
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 70px;
                            padding: 4px;
                        }
                    }
                }
                @media (max-width: 500px) {
                    header {
                        text-align: center;
                        img {
                            display: none;
                        }
                    }
                }

                nav {
                    margin-top: 32px;
                    background: @dark;
                    padding: 24px;

		    &>div {
			    padding: 0;
		    }

                    margin-left: 0;
                    margin-right: 0;

                    h2 {
                        color: @orange;
                        margin-top: 0;
                        font-weight: bolder;
                    }
                    ul {
                        list-style: none;
                        padding-left: 0;
                        li {
                            a {
                                color: white;
                                font-size: 130%;
                                font-weight: normal;
                            }
                        }
                    }
                    ul.categories {
                        li {
                            border: 1px solid white;
                            display: inline;
                            padding: 4px;
                            &:hover {
                                border: 1px solid @orange;
                            }
                            &.active {
                                border: 1px solid @orange;
                            }
                        }
                    }
                    ul:last-of-type{
                        border: 0;
                    }
                    ul::after  {
                        display: block;
                        content: " ";
                        color: white;
                        text-align: center;
                        border-bottom: 1px solid white;
                        padding-top: 32px;
                    }
                    ul:last-of-type:after {
                        display: none;
                    }
                }

                @media (max-width: 970px) {
                    nav {
                        padding: 4px;
                        margin-top: 4px;
                        margin-left: 0;
                        margin-right: 0;
                        h2 {
                            font-size: 120%;
                        }
                        ul > li > a {
                            font-size: 100%;
                        }
                    }
                }
            }

            div.content {
                padding-left: 32px;
                div.inner {
                    background-color: white;
                    padding: 32px;
                    border: 1px solid @dark;

                    /* un article */

                    article {
                        header {
                            padding-bottom: 24px;
                            time {
                                float: right;
                            }
                        }

                        h1, h2 {
                            display: block;
                            margin: 0;
                            padding-top: 12px;
                            padding-bottom: 8px;
                            color: @dark;
                            font-weight: bolder;
                            a {
                            }
                            clear: both;
                        }

                        ul, ol {
                            padding-left: 20px;
                        }

                        img {
                            float: right;
                            max-width: 200px;
                            margin: 8px;
			    clear: both;
                        }

			img.fullwidth {
				float: none;
				width: 100%;
				max-width: 100%;
				margin: 8px;
			}

                        a {
                            color: inherit;
                            text-decoration: underline;
                        }
                    }

                    #disqus_thread {
                        margin-top: 50px;
                        border-top: 1px solid @dark;
                        padding-top: 20px;
                    }

                    /* la liste des articles */
                    
                    section.articles {
                        ol.articles-list {
                            width: 100%;
                            list-style: none;
                            padding: 0;
                            & > li {
                                width: 100%;
                                display: inline-block;
                                padding-bottom: 24px;

                                .article-image {
                                    float: left;
                                    max-width: 120px;
                                    margin: 8px;
                                }

                                .suite {
                                    &:before {
                                        content: "[";
                                    }
                                    &:after {
                                        content: "]";
                                    }
                                    color: @orange;
                                    text-decoration: none;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                }
            }
            @media (max-width: 970px) {
                div.content {
                    padding-top: 4px;
                    padding-left: 15px;
                    div.inner {
                        padding: 8px;
                    }
                }
            }

        }
        @media (max-width: 970px) {
            div.row {
                padding-top: 4px;
            }
        }
    }
}


.programme {
    .evenements {
        border-left: 8px solid @orange;
        padding: 0;
        margin: 0;

        li {
            font-size: 150%;
            list-style: none;
            padding: 0;
            margin: 0 0 20px 0;


            &.year {
                background-color: @orange;
                color: @dark;
                font-weight: bolder;
                padding: 0 0 0 10px;
                margin-bottom: 20px;
                margin-left: -12px;
                height: 30px;
            }

            &.evenement {
                margin-left: 12px;
                width: 66%;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: -15px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right: 15px solid @dark;
                }

                .date {
                    display: block;
                    background-color: @dark;
                    color: white;
                    height: 30px;
                }

                .nom{
                    display: block;
                }
            }
        }
    }
}

