{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block title %}{{ article.title }}{%endblock%}
{% block ogtitle %}{{ article.title }}{%endblock%}
{% if article.square %}
{% block img %}{% if article.square.startswith("http") %}{{ article.square }}{% else %}{{ SITEURL }}{{ article.square }}{% endif %}{%endblock%}
{% endif %}
{% block summary %}{{ article.summary | striptags }}{%endblock%}
{% block content %}
<article>
  <header>
    <h1>{{ article.title }}</h1>
    <time class="publication-date" datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
  </header>

  {% if article.square %}
  <img class="article-image" src="{{article.square}}" alt="{{article.title}}">
  {% endif %}

  {{ article.content }}
</article>

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
   this.page.url = "http://bikebike.run/{{ article.url }}";
   this.page.identifier = "{{ article.slug }}";
};
(function() {
    var d = document, s = d.createElement('script');
    s.src = '//bikebikerun.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<script>
images = document.getElementsByTagName('article')[0].querySelectorAll("img")
for (var i = 0; i < images.length; ++i) {
	var img = images[i];
	var link = document.createElement("a");
	link.href = img.src.replace("/mini/", "/");
	link.target =  "_blank";
	img.parentNode.insertBefore(link, img);
	link.appendChild(img);
}
</script>
{% endblock %}
