{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in page.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in page.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <time class="publication-date" datetime="{{ page.date.isoformat() }}" pubdate>{{ page.locale_date }}</time>
  </header>

  {% if article.square %}
  <img class="article-image" src="{{article.square}}" alt="{{article.title}}">
  {% endif %}

  {{ page.content }}
</article>
{% endblock %}
